@font-face {
  font-family: "Ember Medium";
  src: local("Ember Medium"), url("./fonts/Ember-medium.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0px;
  font-size: 102%;
}

body {
  font-family: Ember Medium;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgb(255 255 255 / 50%);
  box-shadow: 0 0 1px rgb(255 255 255 / 50%);
}
