.footer {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232f3e;
  min-width: 1000px;
  position: relative;
  color: #fff;
}

.btt {
  background-color: #37475a;
  text-align: center;
}

.btt > p {
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.table_cell {
  display: table-cell;
  padding: 40px 10px;
}

.table_cell_head {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  margin: 6px 0 14px 0;
}

.table_cell > ul {
  color: #dddddd;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
  margin: 0;
}

.table_cell > ul > li {
  font-size: 14px;
  margin: 0 0 10px;
  list-style-type: none;
  cursor: pointer;
}

.table_cell > ul > li:hover {
  text-decoration: underline;
}

.footer_line {
  display: block;
  line-height: 20px;
  border-top: 1px solid #3a4553;
  margin-top: 40px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.footer_bottom > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 0 40px;
  font-size: 14px;
}

.footer_bottom > div > a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.footer_bottom > div > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer_bottom > div > a:hover {
  text-decoration: underline;
}

.footer_bottom_div {
  background-color: #131a22;
  display: block;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}
