.navbar {
  background-color: #131921;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  height: 60px;
  color: white;
  align-items: center;
  padding: 0px 10px 0px 10px;
  top: 0;
  position: fixed;
  z-index: 999;
}

.logo > img {
  cursor: pointer;
  width: 115px;
  height: 35px;
  padding: 5px 10px;
}

.logo:hover {
  border: 1px solid white;
  border-radius: 3px;
  margin: -1px;
}

.search {
  display: grid;
  grid-template-columns: 20fr 1fr;
  height: 42px;
  margin: 0px 10px 0px 10px;
}

.search > input {
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
  padding-left: 10px;
}

.search > input:focus {
  border: 4px solid #ff9900;
  border-radius: 2px;
}

.searchBtn {
  background-color: #febd69;
  cursor: pointer;
  border: none;
  width: 45px;
  border-radius: 0px 5px 5px 0px;
}

.searchBtn > img {
  margin-top: 7px;
}

.searchBtn:hover {
  background-color: #f3a847;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  align-content: center;
}

.links > div {
  cursor: pointer;
  height: 50px;
  width: fit-content;
  padding: 0px 10px;
}

.links > div > p {
  margin-top: 15px;
  font-size: 12px;
  text-align: start;
  width: fit-content;
  margin: 9px auto;
}

.links > div > p > span {
  font-size: 15px;
}

.links > div:hover {
  border: 1px solid white;
  border-radius: 3px;
  margin: -1px;
}
