.order_item {
  width: 100%;
  margin-bottom: 10px;
}

.first {
  display: flex;
  flex-direction: row;
  background-color: #f0f2f2;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #d5d9d9;
}
.detailDiv {
  margin: 18px;
}
.heading {
  color: #565959;
  font-size: 12px;
  line-height: 16px;
}
.text {
  color: #565959;
  font-size: 14px;
  line-height: 20px;
}
.detailsBtn {
  color: #007185;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.detailsBtn:hover {
  color: #c45500;
  text-decoration: underline;
}

.second {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #d5d9d9;
  border-top: none;
  padding: 18px;
}
.deliveredText {
  color: #0f1111;
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 700 !important;
}

.orderDetails {
  display: table !important;
  table-layout: fixed;
  zoom: 1;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  padding: 0;
}
.leftDiv {
  padding-right: 3.2%;
  vertical-align: top;
  float: none !important;
  display: table-cell !important;
  zoom: 1;
}
.detailsRow {
  width: 100%;
  margin-top: 10px;
}
.imageDiv {
  width: 100px;
  float: left;
  padding-right: 0;
}
.textDiv {
  padding-left: 1.5%;
  float: left;
  width: 82%;
  margin-top: 10px;
}
.productLink {
  width: 100%;
  text-decoration: none;
  color: #007185;
  font-size: 15px;
  cursor: pointer;
}
.productLink:hover {
  color: #c45500;
  text-decoration: underline;
}

.rightDiv {
  width: 230px;
  margin-right: -230px;
  vertical-align: top;
  float: none !important;
  display: table-cell !important;
  zoom: 1;
  vertical-align: middle;
}

.write_review_btn {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #fff;
  border: 1px solid #d5d9d9;
  color: #0f1111;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
}

.write_review_btn:hover {
  background-color: #f7fafa;
}
