.user_avatar {
  width: 34px;
  height: 34px;
  background-color: #defaff;
}

.user_avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  border: 2px solid #fff;
}

.profile_div {
  background-color: #defaff;
  height: 55px;
  display: flex;
  justify-content: center;
}

.profile_innerDiv {
  width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_innerDiv > p {
  color: #0f1111;
  font-size: 14px;
  margin-left: 10px;
}

.main_div {
  width: 750px;
  margin: 0 auto;
}

.prod_info {
  margin: 15px;
}
.prod_info > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product_img {
  width: 62px;
  height: 62px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.product_img > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.product > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
  font-size: 14px !important;
  line-height: 20px !important;
  margin: 10px;
}

.custom_hr {
  border-top: 1px solid #ccc;
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

.overall_rating {
  margin: 15px;
}
.overall_rating > h3 {
  font-size: 18px;
  line-height: 24px;
}

.headline {
  margin: 15px;
}
.headline > h3 {
  font-size: 18px;
  line-height: 24px;
}
.headline > input {
  border: 1px solid #888c8c;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: 0;
  background-color: #fff;
  height: 31px;
  width: 100%;
  padding: 3px 7px;
  line-height: normal;
  font-family: inherit;
  font-size: 16px;
  margin-top: 20px;
}
.headline > input:focus {
  border: 1px solid #f3612e;
  box-shadow: 0px 0px 2px 3px #f4c99e;
}

.review {
  margin: 15px;
}
.review > h3 {
  font-size: 18px;
  line-height: 24px;
}
.review > textarea {
  background-color: #fff;
  width: 100%;
  height: 130px;
  padding: 5px 7px;
  resize: vertical;
  border: 1px solid #888c8c;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: 0;
  font-family: inherit;
  font-size: 16px;
  margin-top: 20px;
}
.review > textarea:focus {
  border: 1px solid #f3612e;
  box-shadow: 0px 0px 2px 3px #f4c99e;
}

.submit_div {
  margin: 15px;
  margin-right: 0px;
  display: flex;
  justify-content: end;
}
.submit_btn {
  background: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  font-size: 13px;
  cursor: pointer;
  padding: 7px 12px;
}
.submit_btn:hover {
  background: #f7ca00;
}
