.mainDiv {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.routesDiv {
  display: flex;
  flex: row;
}
.routesDiv_p {
  font-size: 14px;
  line-height: 20px;
  color: #007185 !important;
  cursor: pointer;
}
.routesDiv_p:hover {
  color: #c45500;
  text-decoration: underline;
}
.routesDiv > p {
  color: #c45500;
  font-size: 14px;
  line-height: 20px;
}

.editDiv {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  margin-top: 20px;
}
.editRowDiv {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #ddd solid;
}
.editRowLeft > p {
  font-size: 13px;
  line-height: 19px;
}
.editRowLeft > input {
  padding-left: 18px;
  margin-top: 6px !important;
  background-color: #fff;
  height: 27px;
  padding: 3px 7px;
  padding-left: 13px;
  line-height: normal;
  border: 1px solid #888c8c;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: 0;
  font-size: 14px;
  margin-right: 5px;
}
.passDiv {
  display: flex;
  flex-direction: column;
}
.passDiv > input {
  padding-left: 18px;
  margin-top: 6px !important;
  background-color: #fff;
  height: 27px;
  padding: 3px 7px;
  padding-left: 13px;
  line-height: normal;
  border: 1px solid #888c8c;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: 0;
  font-size: 14px;
  margin-right: 5px;
}
.editRowRight > button {
  width: 70px;
  font-size: 13px;
  line-height: 19px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  height: 30px;
}
.editRowRight > button:hover {
  background-color: #dfe2e8;
}

.error_text {
  font-size: 14px;
  color: #d55500;
}

.doneBtn {
  color: #111;
  background-image: linear-gradient(
    to bottom,
    #fbeecf,
    #f9e3ae,
    #f6d78d,
    #f3cb6b,
    #efbf47
  );
  border: 1px solid #9c7e31;
  border-color: #a88734 #9c7e31 #846a29 !important;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  outline: 0;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
}
.doneBtn:hover {
  background-image: linear-gradient(
    to bottom,
    #ffe7af,
    #fbdd96,
    #f8d37c,
    #f3c963,
    #efbf47
  );
}
