.mainDiv {
  width: 920px;
  margin: 0 auto;
  padding: 10px;
}

.routesDiv {
  display: flex;
  flex: row;
}
.routesDiv_p {
  font-size: 14px;
  line-height: 20px;
  color: #007185 !important;
  cursor: pointer;
}
.routesDiv_p:hover {
  color: #c45500;
  text-decoration: underline;
}
.routesDiv > p {
  color: #c45500;
  font-size: 14px;
  line-height: 20px;
}

.mainDiv > h1 {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.custom_hr {
  border-top: 1px solid #ccc;
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin: 10px 0px;
}

.orderinfo_text {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}
.orderinfo_text > span {
  font-weight: 700;
}
