.signin {
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin: -40px auto -36px auto;
}

.box {
  width: 365px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 0px 35px 0px 35px;
}

.box > p {
  text-align: start;
  margin-top: 25px;
  font-size: 35px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}

.label > input {
  height: 31px;
  width: 96%;
  margin-top: 5px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: none;
  padding: 3px 7px;
}

.label > input:focus {
  border: 1px solid #f3612e;
  box-shadow: 0px 0px 2px 3px #f4c99e;
}

.forgotp {
  color: #0066c0;
  text-decoration: none;
  text-align: right !important;
  font-size: 17px !important;
  margin-bottom: -48px !important;
  cursor: pointer;
}

.button {
  background-image: linear-gradient(
    to bottom,
    #fbeecf,
    #f9e3ae,
    #f6d78d,
    #f3cb6b,
    #efbf47
  );
  border: 1px solid #9c7e31;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 30px auto 0px auto;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    #ffe7af,
    #fbdd96,
    #f8d37c,
    #f3c963,
    #efbf47
  );
}

.guide {
  width: 435px;
  margin: 25px auto 10px auto;
  color: #767676;
  font-size: 15px;
}

.createBtn {
  background-image: linear-gradient(
    to bottom,
    #f9f9f9,
    #f2f2f3,
    #ebebee,
    #e3e5e8,
    #dbdee3
  );
  border: 1px solid #979aa1;
  border-radius: 5px;
  width: 435px;
  height: 40px;
  margin: 0px auto;
  cursor: pointer;
}

.createBtn:hover {
  background-image: linear-gradient(
    to bottom,
    #e5e8ee,
    #e2e6eb,
    #e0e3e8,
    #dde1e6,
    #dbdee3
  );
}
